p{
    max-width: 500px;
}
.be-home{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   height: 700px;
   background-position: center;
   background-size: cover;
   width: 100%;
}